<div>
    <h1>View for admins only!</h1>

    <label for="">View user</label> 
    <br/>
    <input name="email" class="email" placeholder="Ingrese el email del Usuario" required>
    <button class="submitBtn"> Search user</button>
    <br/>
    <input name="email" class="emailDelete" placeholder="Ingrese el email del Usuario" required>
    <button class="deleteUser">Delete user by email</button>
    <br/>
    <input name="email" class="emailChangeUser" placeholder="Ingrese el email del Usuario" required>
    <button class="changeRole">Change user role</button>
</div>
<script src="/js/admin.js"></script>